<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKMarkHelperDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CD489251CC22D2E008D1BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD4893E1CC22D2E008D1BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD489491CC22D2E008D1BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
